[2012-12-24 22:31] cubicdaiya opened #6 "compile error"
Hi, latest ngx_mruby occurs the following compile error.

[code]

In my environment, the following patch fixes this problem.

[code]

But it is not the best solution. Though I think the cause is that '$ngx_addon_dir/mrbgems_config' does not exist in ngx_mruby's repository, what do you think?

[2012-12-25 12:23] #6 closed, assigned to nobody

[2013-01-06 09:13] cubicdaiya opened #18 "ngx_mruby is tripped in Valgrind check"
Hi, latest ngx_mruby is tripped in Valgrind check in following condition.
## How to reproduce

[code]

[code]

This phenomenon occurs when Nginx.rputs is called multiple count.(it does not occur when called only once)

Following is the output of Valgrind.

[code]

Following patch tentatively fixes this problem. Though it seems like that cause is mrb_str_dup, currently I have no idea about detail.

[2013-01-22 02:24] #18 closed, assigned to nobody

[2013-03-16 06:43] charlescui opened #25 "error with build ngx_mruby - "error: incompatible types in return""
I compile ngx_mruby

shell history:

[code]

output with conpile error:

[code]

Thanks!

[2013-03-17 04:12] matsumotory opened #27 "Improve performance and memory consumption"
Hi, now I implemeted patch for improvement of performance(8c2147e) and memory consumption(a832892).
- nginx.conf

[code]
- hello.mrb

[code]
# before
## Performance

`$ ab -c 100 -n 10000 -k http://127.0.0.1:8000/mruby`

`Requests per second:    1987.16 [#/sec] (mean)`
## Memory
- startup

[code]
- after above ab bench

[code]
# after

applied patch of improvement of performance(8c2147e) and memor

[2013-03-18 08:15] #25 closed, assigned to nobody

[2013-03-18 08:26] charlescui opened #30 "ERROR 324 (net::ERR_EMPTY_RESPONSE)"
nginx.conf

[code]

access.log

[code]

/Users/cuizheng/Documents/ngx.mrb

[code]

curl -v

[code]

why respone body is zero?

[2013-03-19 08:23] charlescui opened #32 "How to get upstream response body?"
When I using proxy_pass to a url(etc. http://github.com),
- how could I get the response body with mruby?
- how to send the response with new body content?

I think the code maybe look like this:

[code]

[2013-03-31 02:54] #27 closed, assigned to nobody

[2013-03-31 02:55] #30 closed, assigned to nobody

[2013-03-31 03:01] matsumotory opened #33 "Implement proxy"
the same description by mod_mruby, as possible.

[code]

or, lua + redis example
refs: http://d.hatena.ne.jp/hiboma/20120205/1328448746

[code]

[2013-03-31 03:07] matsumotory opened #34 "Control some C struct in nginx"
We'd like to implement some methods to control C struct in nginx by same description of mod_mruby as possbile.

[code]

[2013-03-31 03:10] #32 closed, assigned to nobody

[2013-04-06 08:57] cubicdaiya opened #36 "ngx_mruby does not return a response when mruby sciprt returns Nginx::NGX_OK"
continuation of #30 #31 #35

As #35 is closed, I will open new issue.

As I have already remarked, following mruby script does not work in ngx_mruby.

[code]

To be precise, this mruby script works but **ngx_mruby does not return a response**.

If ngx_mruby takes on the above specification, ngx_mruby should rewrite a return code in ngx_mruby when mruby script returns NGX_OK.

[2013-04-07 09:44] #36 closed, assigned to nobody

[2013-04-08 17:43] senthilnayagam opened #39 "install on osx"
I get this error while installing on OSX

[code]

In file included from /Users/senthil/mruby/ngx_mruby/ngx_http_mruby_module.h:14,
                 from /Users/senthil/mruby/ngx_mruby/ngx_http_mruby_module.c:49:
/Users/senthil/mruby/ngx_mruby/ngx_http_mruby_core.h:11:19: error: mruby.h: No such file or directory
In file included from /Users/senthil/mruby/ngx_mruby/ngx_http_mruby_module.h:14,

[2013-05-29 09:45] charlescui opened #41 "example/nginx.conf mruby_handler is depreciated."
[code]

use mruby_content_handler instead of mruby_handler

[2013-06-14 01:39] kbrock opened #43 "please include mymruby_with_mrbgems.sh"
Hello,

There is a mruby_build target in the Makefile. It references a script that is not present.

Could you either include the script it references in the project, or give a description or blog post url for what needs to be done for this step?

(Working through the readme, trying to figure out what is missing.)

Thanks,
Keenan

[2013-06-18 10:58] #41 closed, assigned to nobody

[2013-06-18 10:58] #39 closed, assigned to nobody

[2013-06-18 15:33] #43 closed, assigned to nobody

[2013-06-19 05:34] matsumotory opened #49 "Set request headers for a request instance."
ngx_mruby became able to get request headers for a request instance by #44.
Next, we'd like to implement set request headers method [in the same way as mod_mruby](https://github.com/matsumoto-r/mod_mruby/blob/master/ap_mrb_request.c#L673-L755) as possible.

[2013-06-21 10:16] charlescui opened #52 "how to get ngx_conf_t in ngx_mrb_request_class_init?"
I want to get cf in function of ngx_http_mruby_request.c, how to get it?

May be in ngx_http_mruby_content_inline, need pass cf to ngx_mrb_request_class_init.

[code]

@matsumoto-r

[2013-07-01 03:42] #49 closed, assigned to nobody

[2013-07-01 03:43] #52 closed, assigned to nobody

[2013-07-09 02:55] charlescui opened #58 "Why save many mrb_state in ngx_http_mruby_loc_conf_t?"
Why save many mrb_state in ngx_http_mruby_loc_conf_t?
or not save only one mrb_state in global?

One scenario:
Some prepare jobs will run once at nginx start up, such as:`$redis = Redis.new`.
And in each request, mrb will use `$redis.get` or `$redis.set`.

But now, there are many different mrb state save in ngx_http_mruby_loc_conf_t, and the state can't access each other.

@matsumoto-r

[2013-07-17 04:55] #58 closed, assigned to nobody

[2013-07-25 08:36] charlescui opened #64 "use return error in ngx_mruby code and worker process hangs up"
Use `return` in `mruby_rewrite_handler_code`, first request is OK and response is correct.
But second request is not response, looks like the nginx work process hangs up, block on some code.I got nothing in GDB backtrace, GDB look ok.

[code]

GDB Info

[code]

Will ngx_mruby forbid use return in code?

[2013-07-25 16:36] cubicdaiya opened #65 "About releasing and versioning"
The version of ngx_mruby is 0.0.1 for a long time.
As now the features of ngx_mruby is increasing than it used to be,
Why don't we append a version tag and an announce of release on a routine basis or at random times?

For the matter, I want to decide the milestone. For example,
- v0.0.1
  - current
- v0.1.0
  - add Nginx.Regex
- v0.2.0
  - support to access shared memory
  - support hash bindings

[2013-07-27 01:11] #64 closed, assigned to nobody

[2013-07-27 01:11] #65 closed, assigned to nobody

[2013-10-17 07:15] matsumoto-r opened #70 "nginx worker thread caught Segfault at startup with openssl-1.0.1e"
nginx build options

[code]
nginx worker try to start as multi thread for ssl. But, nginx worker thread caught Segfault at startup.
[code]
If removed --with-openssl option, nginx start as multi process and don't catch the segfault.

[2013-10-20 15:01] #33 closed, assigned to nobody

[2013-10-20 15:02] #34 closed, assigned to nobody

[2013-10-25 08:49] matsumotory opened #78 "We should implement non-blocking I/O like neverblock"
We should implement non-blocking I/O like neverblock. nginx architecture has non-blocking and async I/O. So, when accessing external db like redis or mysql, this access should be non-blocking. Now, this access is blocking.

my plans are the followings:
- use mruby-fiber
- implement as mrbgem (mruby-neverblock?)
- can write code like [neverblock](http://stackoverflow.com/questions/2593538/simple-ne

[2013-10-25 11:41] matsumotory opened #79 "We should support test"
Now, ngx_mruby dosen't support test. We should support test and CI like Travis CI.

[2013-10-25 11:48] matsumotory opened #80 "Support sub request"
We should support sub request like [location.capture like lua-nginx-module](https://github.com/chaoslawful/lua-nginx-module#ngxlocationcapture).

[2013-12-04 07:01] matsumotory opened #81 "Support current mruby which removed mrb->irep"
Current mruby removed mrb->irep.

[2013-12-04 07:04] matsumotory opened #82 "Support current mruby which renamed mrb_intern2"
We should support current mruby which renamed mrb_intern2.

[2013-12-26 16:34] #82 closed, assigned to nobody

[2013-12-26 16:34] #81 closed, assigned to nobody

[2014-06-07 05:36] #79 closed, assigned to nobody

[2014-06-17 11:48] pynixwang opened #91 "can we use ruby as config file"
take ruby 's DSL for config.

[2014-07-30 11:59] cubicdaiya opened #93 "nginx does not return a resonse when mrb_run failed."
When the following location is accessed, nginx does not return a response.

[code]
### result by curl

[code]
### error message

[code]

In this case, I think nginx should return a specified HTTP status(e.g. 500). What do you think?

[2014-11-15 23:22] kbrock opened #102 "Performance Comparison"
Hello,

This looks great.

http://www.techempower.com/benchmarks/ is a popular framework for comparing functionality across web technologies. There is a benchmark for [openresty][] which would probably be similar to `ngx_mruby`.

Have you though about implementing these benchmarks?
Does `ngx_mruby` have the necessary libraries to implement those benchmarks?

Thank you.

[openresty]: http://github.

[2014-11-26 14:53] #93 closed, assigned to nobody

[2014-12-15 04:07] kbrock opened #104 "Mapping multiple urls to same ruby files"
Hello.

I created a ruby file (`World`) that I want to use across multiple urls:

[code]

Would you suggest mapping all the urls to a single file using something like https://github.com/mattn/mruby-sinatic ?

Have you played with frameworks and ngx_mruby?
Does it decrease the performance by too much?

Sure feels like a single url would map ngx_mruby to be like typical ruby and rails/sinatra.

Just

[2014-12-24 03:39] kbrock opened #106 "build from source"
Is there a way to build from the source without using git?

I downloaded the source `https://github.com/matsumoto-r/ngx_mruby/archive/v1.7.8.tar.gz` from the releases page.

It does download nginx, but fails when trying to build mruby. (obviously the submodules were not downloaded)

Any ideas how to download that or build it?

Thanks

[2014-12-26 02:11] #106 closed, assigned to nobody

[2015-01-05 14:38] kbrock commented on #104
answer: This would be solved with a require. Since mruby has no require, use something like sinatic instead.

[2015-01-05 14:38] #104 closed

[2015-01-06 01:12] matsumoto-r commented on #104
If you map multiple urls to same ruby files, hooking only the ruby file which defined `World` class at ``mruby_init_worker`` phase.

[2015-03-10 06:22] matsumoto-r commented on #102
Hi, @kbrock

ngx_mruby seems to be failed at the TechEmpower/TFB-Round-10 benchmark.

https://github.com/TechEmpower/TFB-Round-10/blob/master/peak/linux/results-2015-03-06-peak-preview3/latest/logs/ngx_mruby/err.txt

Do you know what is happening?

[2015-03-10 06:59] matsumoto-r commented on #102
[The ec2/linux benchmark](https://github.com/TechEmpower/TFB-Round-10/blob/master/ec2/linux/results-2015-01-27-ec2-preview1/latest/logs/ngx_mruby/out.txt) was success. hmm,,,

[2015-03-10 12:45] kbrock commented on #102
Unfortunately the benchmarks are sporadic.

I am not using a connection pool, which is probably not good. Though I don't think this is the problem

[2015-03-12 16:01] matsumoto-r commented on #102
@kbrock hmm... [peak/linux of ngx_mruby](https://github.com/TechEmpower/TFB-Round-10/tree/master/peak/linux) were all failed. Is this also sporadic?

[2015-03-12 17:52] kbrock commented on #102
I mistyped before. I should have said "tests in travis have sporadic failures"
I think the benchmarks the way they are running them should always work.

I wonder if this has to do with the lack of connection pool catching up with us.

[2015-03-16 06:59] triptec commented on #102
@kbrock I looked att the repo and found that i looks like you've worked on the fortune test as well, any particular reason it's not there?

[2015-03-16 13:25] kbrock commented on #102
Hello @triptec,

Need to incorporate a templating library like [erb](https://github.com/pbosetti/mruby-merb). It is required by the specifications.

[2015-03-16 13:43] matsumoto-r commented on #102
Oh, already fixed this. https://github.com/TechEmpower/TFB-Round-10/blob/master/peak/linux/results-2015-03-11-peak-preview5/latest/logs/ngx_mruby/out.txt

[2015-04-21 09:09] ephracis opened #113 "Cannot return anything"
You should change "return" to "Nginx.return" in https://github.com/matsumoto-r/ngx_mruby/wiki/Class-and-Method#nginxreturn

[2015-04-21 10:00] matsumoto-r commented on #113
Hi, ngx_mruby can't return Nginx::HTTP_FORBIDDEN from main. So, you should use `Nginx.return Nginx::HTTP_FORBIDDEN` at the end.

[code]

[2015-04-29 10:00] simo2409 opened #114 "make build_mruby fails due missing hiredis"
Building ngx_mruby on CentOS7 I got `fatal error: hiredis/hiredis.h` error

To fix that just install hiredis-devel with `sudo yum install hiredis-devel`

(I'm writing this just as reference for the future)

[2015-04-29 10:00] #114 closed

[2015-04-30 09:28] matsumoto-r commented on #113
Can I close this? @ephracis

[2015-04-30 09:29] matsumoto-r commented on #102
@kbrock I got the result and it's quite nice! thanks a lot!

[2015-04-30 09:29] #102 closed

[2015-04-30 09:29] #91 closed

[2015-04-30 09:30] #70 closed

[2015-04-30 21:31] simo2409 opened #115 "Trouble compiling nginx"
I'm trying to build ngx_ruby in an exact copy of a production environment (centos7 + nginx + passenger + some external modules) but I'm getting troubles compiling it.

(all previous steps of installation went without problems)

I'm adding ngx_mruby via `--add-module=` and my complete command is:
``
sudo /usr/local/bin/passenger-install-nginx-module --auto --prefix=/opt/nginx --languages=ruby --ngi

[2015-05-01 00:49] matsumoto-r commented on #115
Hi, Did you run `make build_mruby`?

For example,

[code]

[2015-05-09 01:39] #113 closed

[2015-05-10 01:39] kbrock commented on #115
Think I may have asked before but

1) What does `configure --with-ngx-src-root=${NGINX_SRC}` do?
2) Is there a way to use `ruby-build mruby` or rvm's install?

[2015-05-12 19:57] simo2409 commented on #115
@matsumoto-r finally I worked around, removing mruby-memcached and refactoring my app's code to use redis I got it working. Sadly I have no more time to try to solve the problem I had with mruby-memcached but to me this issue can be closed

[2015-05-13 02:24] matsumoto-r commented on #115
@simo2409 Oh... Sorry I can't help you. I search in GitHub, and found Dockerfile of nginx with ngx_mruby and memcached. https://github.com/tacahilo/docker-ngx_mruby-memcached/blob/master/centos6/Dockerfile#L12-L16

They used libmemcached-last-devel in remi repository, and ngx_mruby works well.

OK, so I closed this for now. But if you have any questions, feel free to reopen this issue! Thanks for

[2015-05-13 02:24] #115 closed

[2015-06-24 09:37] Asmod4n opened #120 "Nginx::Var.method_missing not working"
When trying to use Nginx::Var.method_missing it allways says it is expecting a String.

Repro: https://github.com/matsumoto-r/ngx_mruby/blob/master/example/nginx.conf#L147

[2015-06-24 14:39] matsumoto-r commented on #120
Yes, Nginx::Var.method_missing always return string object.

[2015-06-24 14:43] Asmod4n commented on #120
Ah, sorry, meant to say ```Nginx.rputs/echo``` etc. throw a exception when i try to access ```/inter_var_inline``` from the example.

[2015-06-24 15:40] matsumoto-r commented on #120
I try to reproduce this issue, but can't reproduce.

- write conf
[code]

- access by curl
[code]

- error_log
[code]

[2015-06-24 15:43] Asmod4n commented on #120
Might be a OS X issue then, ill try it on FreeBSD later (maybe this weekend)

[2015-07-20 21:14] zzak opened #125 "Content type issues with json"
Hello matz-r!

I've created a [minimal example](https://github.com/zzak/ngx-bugs) of the content type bugs I was describing to you.

When you run the command in step 3 (see README), the content-type will eventually break.

I have narrowed it down to the JSON gem, when parsing any sized data set you will see the bug:
https://github.com/zzak/ngx-bugs/blob/master/docker/hook/test.rb#L7

However, it s

[2015-07-20 21:18] zzak commented on #125
also /cc @mattn

[2015-07-21 03:47] matsumoto-r commented on #125
Thank you for your report. I'll investigate it.

[2015-07-21 04:00] kbrock commented on #125
so is this a multi-threading issue?

[2015-07-21 04:05] matsumoto-r commented on #125
A nginx worker is not multi-thread, and ngx_mruby has mrb_state per process. So, it seems not to be multi-threading issue.

[2015-07-21 07:38] matsumoto-r commented on #125
@zzak I fixed this issue via #126 . Please check it.

[2015-07-21 08:18] matsumoto-r commented on #120
@Asmod4n Did you solved this issue?

[2015-07-21 15:57] Asmod4n commented on #120
@matsumoto-r not really, sorry :( Will close it anyway since noone else seams to have this problem

[2015-07-21 15:57] #120 closed

[2015-07-21 22:57] matsumoto-r commented on #120
:)

[2015-07-22 07:10] #125 closed

[2015-07-24 03:03] paavalan opened #127 "undefined method `popen2e' for Open3:Module"
getting error while build

build: [exec] git clone git://github.com/redis/hiredis.git
rake aborted!
undefined method `popen2e' for Open3:Module

(See full trace by running task with --trace)
make: *** [build_mruby] Error 1

[2015-07-24 08:44] matsumoto-r commented on #127
You should use the Ruby1.9 or more versions.

[2015-07-25 12:07] paavalan commented on #127
@matsumoto-r thanks

[2015-07-25 12:07] #127 closed

[2015-08-02 13:23] matsumoto-r opened #128 "Support multi path per directive"
I want to suppote multi path per directive like the following example:

[code]

First, ngx_mruby run `A.rb`. Then run `B.rb`, Finally run C.rb at mruby_content_handler phase.

[2015-08-02 13:54] matsumoto-r commented on #128
Patches are welcome!!

[2015-08-05 05:38] matsumoto-r commented on #128
[code]

it also looks good to me.

[2015-08-05 06:18] kentaro opened #131 "Some test cases fail occasionally"
I found such test cases like below that occasionally fail. They don’t always fail, but do sometimes.

case1:

[code]

case2:

[code]

[2015-08-05 07:06] matsumoto-r commented on #131
Thank you for your report. I knew this, and this problem occurred only on MacOSX. So, It may be environmental dependency problem. I'll investigate it.

[2015-08-05 12:54] matsumoto-r commented on #131
@kentaro fixed via #133 . Please check it.

[2015-08-21 21:06] kbrock opened #135 "Building ngx in more standard way"
Hello,

I like how well ngx_mruby did in the [benchmark](https://www.techempower.com/benchmarks/#section=data-r10&hw=peak&test=db) comparisons with other servers. I also feel being the fastest ruby (by far) is very cool, too.

Unfortunately the procedure for building `ngx_mruby` is a little intimidating for me. ( [setup](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Rub

[2015-08-22 22:34] matsumoto-r commented on #135
Thank you for your suggest. Please let me consider about this issue.

[2015-08-27 05:55] #131 closed

[2015-08-27 05:55] kentaro commented on #131
Thanks!

[2015-10-02 16:25] kbrock commented on #135
I think the issue is probably my lack of understanding.

Do you have a suggestion on how I can change the install of mysql? [benchmarks](
https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Ruby/ngx_mruby/setup.sh#L26)

[2015-10-03 03:13] matsumoto-r commented on #135
@kbrock

Thank you for the question. When you want to add other mrbgem to ngx_mruby, you can add the following code into [ngx_mruby/build_config.rb](https://github.com/matsumoto-r/ngx_mruby/blob/master/build_config.rb#L10-L29);

[code]

[2015-10-13 06:10] matsumoto-r commented on #106
@kbrock ngx_mruby just now supports subtree. https://github.com/matsumoto-r/ngx_mruby/pull/139

The source archive include dependent packages like mruby. Sorry for my late response. Thanks!

[2015-11-06 11:29] takeswim opened #142 "difference between mruby_output_filter and mruby_output_filter_code"
mruby_output_filterとmruby_output_filter_codeで動作が違っている様に見えます。

https://github.com/takeswim/ngx_mruby_filtersample

[code]

nginx: 1.9.3
ngx_mruby: b6db5e73acd1d7
で実験しています。

[2015-11-07 02:37] matsumoto-r commented on #142
ありがとうございます、これはおかしいですね。修正します。

[2015-11-07 07:09] matsumoto-r commented on #142
@takeswim
#143 で直しておきました。ご確認下さい。問題なければcloseお願いします。

[2015-11-09 11:13] takeswim commented on #142
ありがとうございます。問題なくフィルタ処理できることを確認しました。

[2015-11-09 11:13] #142 closed

[2015-12-11 22:55] scalp42 commented on #135
@kbrock did you figure the answer to these questions by any chance ? Would come in handy as I'm having the same questions :smile:

cc @matsumoto-r

[2015-12-24 13:23] davydovanton opened #144 "Send file"
Hello!
I have strange question but how I can send file from ngx_mruby?

@matsumoto-r

[2015-12-24 13:45] matsumoto-r commented on #144
Hi, you can use Nginx::Request#uri= or Nginx.redirect .

[2015-12-24 14:11] davydovanton commented on #144
I need to send my local image, from example. I understand right that I need to write smth like this:
[code]
?

[2015-12-24 14:40] matsumoto-r commented on #144
Yes, you should write a relative path from the document root.

[2015-12-24 18:51] davydovanton commented on #144
thanks!

[2015-12-24 18:51] #144 closed

[2015-12-25 01:56] davydovanton commented on #78
@matsumoto-r what about status of this PR? Because non blocked IO is very needful feature for me :disappointed:

[2015-12-25 08:33] matsumoto-r commented on #78
@davydovanton I now have an idea for this issue, but just an idea. So, I try to implement this feature next year!!

ref: https://speakerdeck.com/matsumoto_r/the-future-of-mruby-in-http-server-rubykaigi-2015?slide=56

[2016-01-21 18:29] nikolay opened #150 "Website is down"
http://ngx.mruby.org/ is down.

[2016-01-22 05:34] matsumoto-r commented on #150
@nikolay Thank you for your report! I just now fixed the problems with matz. Please check it.

[2016-01-23 16:09] takeswim opened #151 "Nginx::Upstream memory leak?"
wikiで書かれているサンプルの設定に対しabをかけたのですが、リクエスト毎にメモリ消費量が順調に増えていっています。
[code]

[2016-01-24 00:17] matsumoto-r commented on #151
@takeswim 報告ありがとうございます！サンプルの設定はどれでしょうか？

[2016-01-25 01:13] takeswim commented on #151
@matsumoto-r 言葉足らずで申し訳ありません！「Nginx::Upstream Class」で書かれている以下の内容になります。

[code]

[2016-01-29 02:50] matsumoto-r commented on #151
@takeswim
手元で再現しないのですが、手元のngx_mrubyのみで再現できるような最小設定などありますでしょうか？後、クライアントからのアクセスはどういうアクセスでしょうか。

[2016-02-04 11:54] lamanotrama opened #155 ""Nginx::Request#headers_out" empties the assigned array, contrary to expectations"
I guess it is not the intended behavior.

Reproduction code is as follows.

[code]

Request to the above server as below.

[code]

and log

[code]

I expected status 200, and the array with two item in the log, but the results are not.

### Environment

 * Ubuntu 14.04.3
 * Nginx 1.9.9
 * nginx_mruby 1.15.0

For more details of nginx please refer https://gist.github.com/lamanotrama/638e97202cf54bf

[2016-02-04 12:02] matsumoto-r commented on #155
Thank you for your report. I'll investigate it.

[2016-02-04 13:56] matsumoto-r commented on #155
Fixed via #156

[2016-02-04 13:56] #155 closed

[2016-02-04 14:01] lamanotrama commented on #155
:100:
Thank you!!

[2016-02-04 14:16] #150 closed

[2016-02-12 06:42] matsumoto-r opened #158 "ngx_mruby examples"
https://github.com/hsbt/nginx-tech-talk

@hsbt 's ngx_mruby examples are very useful. So, I'd like to point this link from ngx.mruby.org or a directory of ngx_mruby repository.

What do you think? cc/ @kbrock @hsbt

ref: https://github.com/matsumoto-r/ngx_mruby/pull/145#issuecomment-169654290

[2016-02-16 04:01] ryudoawaru opened #160 "Segfault appears if build nginx with customize openssl path"
Platform: CENTOS 7

Build nginx 1.9.11 with following configs:

[code]

And after make, the segfault happens. If I remove ngx_mruby from the build config then the segfault will not appear.

I think the reason is ngx_mruby uses system's openssl which is different from Nginx uses.

Is there anyway to solve this issue?

Thanks your great work:)

[2016-02-16 07:02] yasuaki-tahira commented on #160
In the following command, please check the cause place.

[code]

`#1  0x00007ffff6fa21fa in ?? () from /usr/lib64/libcrypto.so.10`

libcrypto.so library path, you can see that you are referring to the old file.
Please specify the LD_LIBRARY_PATH.

(example)
[code]

[2016-02-16 07:11] ryudoawaru commented on #160
[code]

[2016-02-16 07:23] ryudoawaru commented on #160
Just rebuild openssl as instruction, but same result.

[2016-02-16 07:29] yasuaki-tahira commented on #160
What does it is output `where`?

[code]

[2016-02-16 07:30] ryudoawaru commented on #160
[code]

[2016-02-16 07:40] yasuaki-tahira commented on #160
[code]

[2016-02-16 07:40] ryudoawaru commented on #160
sorry, should I recompile nginx again?

[2016-02-16 07:48] ryudoawaru commented on #160
[code]

Nginx still load from old path after assign LD_LIBRARY_PATH to /usr/local/lib64

[2016-02-16 11:14] ryudoawaru commented on #160
It seems we can't build mruby with customized openssl, if I remove system's openssl and openssl-devel and build mruby manually, it will fail.

I try in another VM.

[code]

output...

[code]

[2016-02-16 12:12] matsumoto-r commented on #160
@ryudoawaru Thank you for your question. Could you try to run the following commands?:

1. install openssl

[code]

2. configure options

[code]

3. run nginx

[code]

[2016-02-16 12:14] matsumoto-r commented on #160
@yasuaki-tahira Thank you for your cooperation.

[2016-02-16 17:06] rhykw commented on #160
@ryudoawaru
You must build mruby and ngx_mruby with same version of openssl.

1. Build and install your openssl. ( ex. prefix=/usr/local/openssl-1.0.2f )
2. Modify your ngx_mruby `build_config.rb`.  Add this.

[code]
3. configure and build nginx

[code]

4. run

[code]

If you build openssl with `no-shared` option, you can run nginx without  `LD_PRELOAD` .

[2016-02-17 04:40] ryudoawaru commented on #160
@rhykw It seems I can complete building w/o segfault thanks for your instruction.

In step 4, I can start nginx w/o assiginig LD_PRELOAD.

Thank you, @matsumoto-r and @yasuaki-tahira.

It may be necessary to make these path configurations able to assign on build, because RHEL distributions ship only openssl 1.0.1 and we need 1.0.2 to build nginx with full http/2 functions.

[2016-02-18 09:06] #160 closed

[2016-02-19 07:43] matsumoto-r commented on #160
If you want to use openssl 1.0.2, you should install into /usr/local, run `ldconfig /usr/local/lib` and modify `build_config.rb`  after removing system openssl. This process is an common approach not depend on ngx_mruby.

[2016-02-19 07:48] matsumoto-r commented on #160
For example: https://github.com/matsumoto-r/ngx_mruby/blob/master/.travis.yml#L27-L36

[2016-02-25 02:03] hsbt commented on #158
It's ok for temporary references. I will update showcase of ngx_mruby usage at it's repository.

[2016-03-02 05:28] matsumoto-r commented on #158
@hsbt Thank you for your cooperation. I'll add that link.

[2016-03-02 05:32] #158 closed

[2016-03-02 05:32] matsumoto-r commented on #158
done via 9c1ba8b

[2016-03-08 16:37] kbrock commented on #158
@matsumoto-r thank you for adding these.

Examples help so much

[2016-03-15 10:04] jerry-tao opened #162 "When use mruby-redis in ngx_mruby, it will get blocked sometimes."
I am trying to write a little demo with ngx_mruby and redis. But i found there is a problem, I'm not sure it is my system problem or in mruby-redis.

Nginx conf
[code]

[code]

I test several times, it always get blocked, and sometimes it get blocked around 1000 requests.

And according of config i found the problem with mruby-redis spop.

But i test spop in mirb with 50000 times, it work fine.

T

[2016-03-17 02:07] matsumoto-r commented on #162
@jerry-tao Thank you for your report. Could you add `Nginx.return Nginx::OK` at the last line?

[2016-03-17 03:28] jerry-tao commented on #162
[code]

It can't be accessed after i put `Nginx.return Nginx::OK`. It doesn't return in a long time.

[code]

I change it to `Nginx.return Nginx::HTTP_OK`, it still have the same issue.

[code]

[2016-03-17 03:41] matsumoto-r commented on #162
Oh, sorry... change from `Nginx::HTTP_OK` to `200` at both `/mruby` and `/mruby2` location?

[2016-03-17 04:27] jerry-tao commented on #162
I add `Nginx.return 200` at both `/mruby` and `/mruby2`.

And it still have the same problem.

[code]

[2016-03-17 04:32] matsumoto-r commented on #162
hmm... I think this is not ngx_mruby problem but mruby-redis problem. Do you have `spop` of mruby-redis benchmarks?

[2016-03-17 04:47] jerry-tao commented on #162
Yes, i have the same thought,  it is not the `spop` problem, when use List with `lpop`, it has the same problem, look like some resources doesn't get released.

After reboot nginx, the first time i run `ab -c100 -n10000` it will worked, but the second time run `ab -c100 -n10000` it will failed, like redis get blocked.

I don't know how to benchmark the concurrency, when it just run with time, it l

[2016-03-17 05:19] jerry-tao commented on #162
When i change `worker_processes  4;` to 1 , it doesn't get blocked.

But i benchmark redis with 1000 concurrency, it worked fine. So i still cant get the idea where could be wrong.

[code]

[2016-03-17 05:25] matsumoto-r commented on #162
I understood it. So, you should lock for write accesses to redis using like mruby-mutex in multi processes.

[2016-03-17 05:38] jerry-tao commented on #162
Thanks for your help.

[2016-03-17 05:38] #162 closed

[2016-03-17 05:42] matsumoto-r commented on #162
Example: https://github.com/matsumoto-r/http-dos-detector/blob/master/dos_detector/dos_detector.rb#L21-L38

[2016-03-17 05:49] jerry-tao commented on #162
I got it, the userdate is shared between  multi processes.

But is there a way i can initialize the mruby-redis for every worker? I don't want lock it.

[2016-03-17 05:52] matsumoto-r commented on #162
You should use `mruby_init_worker_code` instead of `mruby_init_code`.

[2016-03-17 06:07] jerry-tao commented on #162
Yes, i found it and it worked. Really sorry for my personal mistake to waste your time.

Again, really thank you for your time and work.

[2016-03-30 01:02] kbrock commented on #162
Thanks so much for this discussion - this is great stuff.

[2016-04-01 08:47] sampointer opened #164 "Convert the module to be dynamically loadable under 1.9.11"
https://www.nginx.com/resources/wiki/extending/converting/ defines the steps required to convert modules to be dynamically loadable.

It would be a great help and an aid to adoption in installations where bespoke compilations of nginx cannot be employed.

[2016-04-01 09:14] matsumoto-r commented on #164
Thank you for your information. I also want to support both statically and dynamically loadable module.

[2016-04-14 13:54] cubicdaiya opened #165 "[SEGV] nginx static-linked OpenSSL and ngx_mruby"
Hi.

If nginx static-linked OpenSSL and ngx_mruby are built, it is possible to be caused SEGV.

## How to reproduce

It is assumed to be already installed OpenSSL as the package.

[code]

Maybe the phenomenon below is similar. (Japanese only, sorry.)

https://twitter.com/d6rkaiz/status/685835026890555392

The patch below is the workaround for this problem. It works fine if it is applied.

[code]

[2016-04-14 15:02] matsumoto-r commented on #165
@cubicdaiya Thank you for your report. I already investigate it at #160 . Did you mean that issue #160 ?

[2016-04-14 17:25] cubicdaiya commented on #165
@matsumoto-r Yes. It's same phenomenon.

[2016-04-15 04:56] matsumoto-r commented on #165
Thanks! I'll investigate more user-friendley way.

[2016-04-19 06:42] ianchen06 commented on #165
Hello,
I can confirm the same problem with openssl-1.0.2g install at /usr/local/openssl-1.0.2g
Is there currently a patch available to be applied to mruby-digest for linking with custom openssl?

Thanks

[2016-04-19 06:51] matsumoto-r commented on #165
@ianchen06 You should edit `ngx_mruby/mruby/build/mrbgems/mruby-digest/mrbgem.rake` for pointing to ` /usr/local/openssl-1.0.2g` and build again.

For example:

[code]

[2016-04-19 07:33] matsumoto-r commented on #165
@cubicdaiya https://github.com/matsumoto-r/ngx_mruby/issues/165#issuecomment-211759667 What do you think this? This way don't use `--with-openssl=../openssl-1.0.2g` as nginx configuration flag and should build openssl into somewhere in advance.

[2016-04-19 07:55] ianchen06 commented on #165
@matsumoto-r  Thank you so much for your reply, however I'm getting an error at the LD stage of the build.

I changed `ngx_mruby/mruby/build/mrbgems/mruby-digest/mrbgem.rake` to
[code]

and the build fails at

[code]

Am I missing something here, sorry for the newbie questions. Thank you very much for your help

[2016-04-19 07:57] matsumoto-r commented on #165
@ianchen06 You're welcome!! delete commented from `#spec.linker.libraries << 'crypto' unless RUBY_PLATFORM =~ /darwin/` and try build again.

[2016-04-19 08:54] cubicdaiya commented on #165
@matsumoto-r

IMO, the way above is the workaround and not user-friendly. So it is better that ngx_mruby provides the transparent and successful build-way even if `--with-openssl=PATH` is assigned. (At least, by default configuration.) Because `--with-openssl=PATH` is the feature nginx-self provides and I think it is maybe the susceptible pitfall for a user embeds mruby into nginx.

[2016-04-19 09:02] matsumoto-r commented on #165
@cubicdaiya

I agree with you. So, I'll consider steps to build custom openssl transparently like `./configure --with-ngx-src-root=../nginx-1.9.14 --with-openssl==../openssl-1.0.2g` as ngx_mruby configure option. Thank you for your opinion.

[2016-04-19 09:31] ianchen06 commented on #165
@matsumoto-r
It is working now, thank you very much for your help.

[2016-04-25 14:19] matsumoto-r commented on #165
Fixed via #167 .

[2016-04-25 14:19] #165 closed

[2016-06-07 05:06] sawanoboly opened #172 "mruby_output_filter after fastcgi_pass causes error. malloc(18446744073709551615) failed (12: Cannot allocate memory)"
fastcgi_passと一緒にmruby_output_filterを使おうとすると、次のエラーでリクエストが終了してしまいました。
通常のlocationおよび、proxy_passでは正常にヘッダが追加されます。

[code]

### Configurations for reproduce

nginx.conf

[code]

以下がリクエスト例です。

[code]

### Environments

Nginx: 1.9.11
ngx_mruby: 1.17.2 (DSOビルド)

Nginxのコンフィグオプションは [こちら](https://github.com/OpsRockin/nginx_preview_for_amimoto/blob/ddb3f7f2d2a7b328ab235ed97cf09609cd0bffb7/SPECS/nginx.spec#L90

[2016-06-07 05:27] sawanoboly commented on #172
`--add-module`でStaticでも一緒のエラーでリクエスト停止しました。

[code]

[2016-06-07 14:00] matsumoto-r commented on #172
もし可能であれば、おかしくなるmallocの場所でのバックトレースやその周辺の変数の値をざっくり頂けるとうれしいです！

[2016-06-07 14:02] matsumoto-r commented on #172
`18446744073709551615`っておそらくusgned longに`-1`を突っ込んだ値とかだと思うのですよね。

[2016-06-08 03:59] sawanoboly commented on #172
ヒントありがとー。次時間とれるときにやってみます。

[2016-06-10 01:33] matsumoto-r commented on #172
@sawanoboly Dockerfileなどで再現環境再現することは可能ですか？こちらでもデバッグしようと思います。

[2016-06-10 01:58] matsumoto-r commented on #172
[code]

[2016-06-10 04:54] sawanoboly commented on #172
@matsumoto-r

再現用環境つくりましたー

https://github.com/sawanoboly/reproduce_ngx_mruby_172

[2016-06-10 04:55] matsumoto-r commented on #172
ありがとうございます！試して調査します〜

[2016-06-10 08:35] matsumoto-r commented on #172
再現しないですね....これはメモリ次第ですかね

[2016-06-10 08:40] sawanoboly commented on #172
むむ、うちのBoot2Docker環境のVM(VIrtualBox)はこうですね。

[code]

初めに見つけたのはAmazon EC2のt2.microなのでメモリ1Gです。

[2016-06-10 08:43] matsumoto-r commented on #172
どこにどんなログがでますか？

[2016-06-10 08:43] matsumoto-r commented on #172
あ、再現しました。

[code]

[2016-06-10 09:15] matsumoto-r commented on #172
これ、ひとまずbody_filterでheaderをフィルターすることはできないので、headerのフィルターをやめるとどうなりますかね？

[2016-06-10 09:25] matsumoto-r commented on #172
@sawanoboly これ、phpを使わないような最小のngx_mrubyだけの再現コードって書けるでしょうか？

[2016-06-10 09:45] sawanoboly commented on #172
とりあえず外してみたところ、これでもコケます。

[code]

これちょっと意味を確認したいんですが、fastcgi_pass相当のことをcontent_codeでやるってことです？

[2016-06-10 09:46] matsumoto-r commented on #172
いえ、多分fastcgiを使う事が関係しているのではなく、アウトプットfilterをかけたらエラーになっているようなので、ngx_mrubyのtestレベルで再現したいです。

[2016-06-10 09:49] sawanoboly commented on #172
ああ、`test/t/ngx_mruby.rb` のような記述で、ということかしら。

[2016-06-10 09:57] matsumoto-r commented on #172
そうですね。 #173 で修正を試みてみましたがいかがでしょう。できれば再現コードを`test/t/ngx_mruby.rb`に実装した上で、patchが通ることで其のバグが起きない事を確認したいです。

[2016-06-11 05:36] matsumoto-r commented on #172
Fixed via #173

[2016-06-22 07:25] wokamoto commented on #172
関係あるかわかりませんが fastcgi の結果やリバースプロキシの結果が Content-Length を返さない時に Nginx::Filter#body が落ちるようです。
[code]

こんな感じのスクリプトを書いて、WordPress が吐き出す http を https に置換しようとしたんですが上記のエラーになりました。
[code]

WordPress の index.php を書き換えて強引に Content-Length ヘッダを出すようにしたら、上記エラーが出なくなったです。
[code]

[2016-06-22 08:18] matsumoto-r commented on #172
@wokamoto ありがとうございます。はい、おっしゃるとおりでchunkedで送られてくるようなレスポンスはバグにより不正な値がmallocに渡るようでした。

[2016-06-22 08:31] wokamoto commented on #172
chunked だとダメってのは既知の不具合だったんすね...
こっち見落としてました
https://github.com/matsumoto-r/ngx_mruby/pull/173

[2016-06-22 08:34] matsumoto-r commented on #172
はい、それで今ディレクティブの分離を行ってそこそこ動くようになったのですが、body_filterでcontent-lengthが変わる場合に、それよりはやいheader_filterで更新するようなヘッダの情報をどうbody_fillterのフックで変更するか、というところで止まっております。時間見つけて直す予定です〜

[2016-06-23 06:12] matsumoto-r commented on #164
v1.7.12 supported. ref: https://github.com/matsumoto-r/ngx_mruby/releases/tag/v1.17.2

[2016-06-23 06:12] #164 closed

[2016-06-23 07:26] matsumoto-r commented on #172
Fixed via #173

[2016-06-23 07:26] #172 closed

[2016-06-24 07:46] yyamano opened #179 "Proposal for Rack based API change for error pages"
I'd like to use Rack based API for an error page as below.

[code]

[code]

It doesn't work as I expected. I get nginx's default error page.

The current implementation calls Nginx.return with a status returned by "call" method.
https://github.com/matsumoto-r/ngx_mruby/blob/master/mrbgems/rack-based-api/mrblib/rack.rb#L90
In my observation, the call causes special response handling for 401 again.

[2016-06-24 09:43] matsumoto-r commented on #179
Thank you for your proposal. It looks good to me. Could you send the PR?

[2016-06-25 13:20] yyamano commented on #179
Will do next week.

[2016-06-27 02:04] yyamano commented on #179
Just sent a pull request.
https://github.com/matsumoto-r/ngx_mruby/pull/180

[2016-06-27 04:49] matsumoto-r commented on #179
Oh, CI was failed.

[2016-07-04 03:09] #179 closed

[2016-07-15 04:55] yyamano opened #185 "mruby_set_code with syntax error gives segmentation fault"
I get segmentation fault with the following configuration:

[code]

[code]

Here is a gdb backtrace. I have a patch to fix it and will send a pull request later.

[code]

[2016-07-15 05:16] matsumoto-r commented on #185
Thanks always!

[2016-07-15 09:36] #185 closed

[2016-07-22 11:34] yyamano opened #188 "Unexpected GC?"
When I build ngx_mruby with MRB_GC_STRESS, some tests failed.
I guess we have some GC related problems. I will look into the details later.

[code]

[code]

[2016-07-22 12:53] yyamano commented on #151
ふと思いたって試してみたら手元の環境で再現しました。コードはまだ見てません。

[code]

test.shでビルドした nginx を起動して、こんな感じにリクエストを送ります。

[code]

上のコマンドを三回実行して、一回実行完了するたびに ps の出力を見てみました。

[code]

たまに、500 Internal Server Errorが返ってきています。

[2016-07-22 15:52] matsumoto-r commented on #151
再現ありがとうございます。これで調査してみます。

[2016-07-23 13:56] ghost opened #189 "php+ngx_mruby + full cache"
example conf for noobs?

[2016-07-26 05:21] yyamano commented on #188
I'm working on it slowly on https://github.com/yyamano/ngx_mruby/tree/issue-188

[2016-07-26 05:54] matsumoto-r commented on #188
👍

[2016-07-26 07:18] yyamano commented on #151
valgrind --leak-check=full の出力です。mrbc_context が解放されてないケースがあるっぽいです。

[code]

[2016-07-26 11:45] yyamano commented on #151
https://github.com/yyamano/ngx_mruby/commit/1a7ecc750ed7495b5209b39041b058c111f975c4 で valgrind してみると、こんな感じです。ngx_mrubyが関係しそうなのは ngx_mrb_upstream_init (ngx_http_mruby_upstream.c:57) ぐらいでしょうか。

[code]

[2016-07-27 01:56] yyamano commented on #151
#191 で valgrindした結果です。valgrindでわかる範囲では mrubyがらみのリークはなくなったみたいです。

[code]

psの結果はこんな感じです。VSZとRSSが微妙に増え続けてますね。他にもリークしているところがあるのか、どこかで安定するのか。

[code]

[2016-08-02 02:41] #188 closed

[2016-08-02 07:47] d6rkaiz opened #196 "ngx_mruby build failed on debian 8"
久しぶりにdebian8でbuildしようとしたところssl関係でこけるようです。

build_config.rb抜粋

[code]

NGINX_CONFIG_OPT_ENV内容

[code]

build失敗時のログ

[code]

もし他に必要そうな情報があれば、教えて下さい。

[2016-08-02 08:02] matsumoto-r commented on #196
ご報告ありがとうございます。今ちょっと手が離せないので後で調査します。 /cc @yyamano

[2016-08-02 08:07] yyamano commented on #196
ごめんなさい。僕のバグです。 pull requestするのでちょっと待ってください。

[2016-08-02 08:38] yyamano commented on #196
手元にdebian8がないので試せてないのですが、これでビルドできるようになると思います。
ただし、お使いのOpenSSLのバージョンが古いので、ssl系の機能は使えないと思います。

[2016-08-02 09:06] d6rkaiz commented on #196
ありがとうございます。
通りました。

ありがとうございます。ssl系の機能は利用しておりませんので、問題ありません。

[2016-08-02 09:41] #196 closed

[2016-08-03 10:51] #151 closed

[2016-08-10 02:05] yyamano opened #200 "HTTP status 200 with empty body doesn't work"
mruby_content_handler_code doesn't allow HTTP status 200 with empty body. nginx allow it and the HTTP spec is not clear to me. What do you think?

I get the error message as below.

[code]

Here is the code.

[code]

it works fine with nginx's return.

[code]

[2016-08-11 04:09] matsumoto-r commented on #200
For now, could you send me the patch? ngx_mruby should meet the specification of nginx as possible.

[2016-08-17 05:01] yyamano opened #203 "test.sh with BUILD_DYNAMIC_MODULE and --with-openssl-src fails"
test.sh doesn't work as I expected.

[code]

There are two problems in Makefile.in. The first one is linking static libraries at https://github.com/matsumoto-r/ngx_mruby/blob/master/Makefile.in#L50-L56

[code]

The second problem is openssl compile options at https://github.com/matsumoto-r/ngx_mruby/blob/master/Makefile.in#L104-L109

[code]

.travis.yml uses different options as below:

[code]

So

[2016-08-17 05:10] matsumoto-r commented on #203
Thank you for your report.

I want to fix it.

Yes!!

[2016-08-17 12:27] #203 closed

[2016-08-23 07:47] yyamano opened #206 "output filters infinite loop"
The following configuration can cause an infinite loop.

[code]

Here is the backtrace.

[code]

[2016-08-23 08:34] matsumoto-r commented on #206
@yyamano Thank you for your report. I'll check it later since I'm busy to write my doctoral thesis 😂

[2016-09-01 06:35] yyamano commented on #206
I just found another infinite loop.

[code]

[code]

[code]

[2016-09-15 22:05] hone opened #210 "`mruby_post_read_handler` not running in 1.18.3+"
I tried upgrading my ngx_mruby and it caused my `mruby_post_read_handler` to stop working in the [heroku-buildpack-static](https://github.com/heroku/heroku-buildpack-static/blob/master/scripts/config/templates/nginx.conf.erb#L46). Did something change? Downgrading back to `1.18.2` fixed it for me.

[2016-09-16 07:53] yyamano commented on #210
I guess my change 9668ce62d759796c9abf6f73c4a8c23abc71d725 causes the problem.
The original code copied configurations from child to parent in ngx_http_mruby_merge_loc_conf().
It is incorrect, but it made possible to define mruby_post_read_handler inside location.

https://github.com/matsumoto-r/ngx_mruby/blob/v1.18.4/src/http/ngx_http_mruby_module.c#L1919-L1920

[code]

ngx_http_mruby_post_read_h

[2016-09-19 07:08] yangyuqian opened #212 "Proposal: mutex across worker processes"
Hi, @matsumoto-r

Recently I need a mutex allowing multiple worker processes to modify shared memory(cached by https://github.com/matsumoto-r/mruby-localmemcache) synchronously.

i.e.

[code]

Currently, the Mutex(https://github.com/matsumoto-r/mruby-mutex) has only single process support.

Is it possible to add this global mutex support though?

[2016-09-20 03:34] matsumoto-r commented on #212
mruby-mutex already supported global mutex.

refs: https://github.com/matsumoto-r/mruby-mutex/blob/master/src/mrb_mutex.c#L45-L94 https://github.com/matsumoto-r/http-dos-detector/blob/master/dos_detector/dos_detector_init.rb#L1

[2016-09-20 03:34] #212 closed

[2016-09-20 06:01] hfm opened #213 "[SEGV] ngx_mruby in OS X El Capitan often crashes"
ngx_mruby in OS X El Capitan frequently causes SEGV. Especially, [`/inter_var_file` test](https://github.com/matsumoto-r/ngx_mruby/blob/v1.18.4/test/t/ngx_mruby.rb#L47-L50) tends to cause SEGV.

[code]

Executing`curl -v 127.0.0.1:58080/inter_var_file`, ngx_mruby frequently causes SEGV like the following:

[code]
</details>

backtrace

[code]

list

[code]

[2016-09-20 14:25] #213 closed

[2016-09-20 14:46] matsumoto-r commented on #213
Thank you for your report. I fixed by #215 .

[2016-09-21 02:59] matsumoto-r commented on #210
@hone Thank you for your issue, and sorry for my late response. I start to investigate this bug.

[2016-09-21 06:36] yangyuqian commented on #212
Thanks for doing this, it's really helpful to Rubyers!

[2016-09-28 09:38] matsumoto-r commented on #210
@yyamano Your analysis is right. So, ngx_mruby don't allow post_read directives on location context via #217 .

@hone Please replace the post_read directive into main context since the post_read directive of v1.18.2 also actually worked in the manner on main context.

[2016-09-28 10:05] matsumoto-r commented on #210
Rleased v1.18.5, thanks!

[2016-09-28 10:05] #210 closed

[2016-10-14 07:20] hfm opened #225 "mruby_content_handler_code 'Nginx.rputs nil'; not work"
Using `Nginx.rputs nil` in mruby_content_handler_code, nginx will stop processing.

sample config:

[code]

demo with curl:
[code]

error.log
[code]

This problem seems to be simillar to #200. Current mruby_content_handler_code does not allow  return empty body.

[2016-10-14 14:38] matsumoto-r commented on #225
Thank you for your report. I'll investigate later.

[2016-11-08 14:23] littlekbt opened #229 "Not return response body under certain conditions."
初めまして、普段よりngx_mrubyを使わせていただいております。

こういったOSSにissueを立てさせていただくのは初めてなので、至らない点があったら申し訳ありません。

Raspberry Pi Model B Revision 2.0にngx_mrubyを入れて動かしたところ、以下の２つの条件で予期しない挙動を致しました。

ビルドは

[code]

で行いました。

[code]

まず、以下の条件では、Nginx.echoをしたところ、文字列が出力されませんでした。

[code]

[code]

[code]

このように、echoで出力する文字列のはじめを `h`とすると何も出力されず

以下のようにすると、出力されます。

[code]

値が出力されます。

[code]

エラーログなどには何も出力されておりません。

また、以下の条件では、SIGSEGVが発

[2016-11-09 02:52] matsumotory commented on #229
ご報告ありがとうございます。不思議な挙動ですね。調査します。

[2016-11-10 07:05] yukui opened #230 "How use password to redis?"

[2016-11-17 16:44] hfm commented on #229
Raspberry Pi 1 Model Bを使って再現を試みたところ、 @littlekbt さんと同じ環境を再現できました。

[code]

64bit版のRaspberry Piで同じ現象が起きるのかわかりませんが、ARMv6およびARMv7では起きるということですえね。困ったな。

[2016-11-17 16:48] hfm commented on #229
debugログに気になる差は見られず。

[code]

[2016-11-17 16:58] hfm commented on #229
`h` が先頭にある文字列をecho出来ない、という現象らしい。 `g` `i` などほかの英文字は出力できるが、 `h` から始まる1文字以上の英字はムリそうだった。

[code]

[2016-11-17 17:03] hfm commented on #229
こっちは `{` という文字がダメ。
[code]

[2016-11-17 17:06] matsumotory commented on #229
mrubyのビルドの仕方を、mrbconf.hを弄って変えることで解決しないかなぁ

https://github.com/mruby/mruby/blob/master/include/mrbconf.h

[2016-11-18 01:45] yyamano commented on #229
@hfm ハッシュでsegvした時のバックトレースってとれないんでしょうか?

[2016-11-18 05:00] yyamano commented on #230
@yukui Could you see https://github.com/matsumotory/mruby-redis#connecting-to-a-redis-server ? redis auth is implemented 5 days ago.

[2016-11-18 08:01] yyamano commented on #229
@littlekbt @hfm 以下の変更を試してみてもらえませんか。

https://github.com/yyamano/ngx_mruby/commit/676d7fb115c403e9e5010165eefc42c7f325af99

i386(32ビット)のlinuxでも再現して、僕の手元では上の変更で直りました。

includeの順番が原因でoff_tが32ビットでコンパイルされる.oと64ビットでコンパイルされる.oが混在しており、そのせいでメモリを壊していました。潜在的な問題がある可能性もあるので、他の.cファイルも見直したほうが良いと思います。僕はちょっと時間が取れません。

[2016-11-18 08:22] hfm commented on #229
うおーあざます帰宅したら試します!

[2016-11-18 09:25] matsumotory commented on #229
すごい！

[2016-11-19 05:52] littlekbt commented on #229
@yyamano さん

僕の環境でも直りました！
ありがとうございます！！

[2016-11-19 07:05] hfm commented on #229
同じく直りました!

[2016-11-19 08:17] matsumotory commented on #229
ありがとうございます。どなたかPR頂けると幸いです。

[2016-11-28 01:37] yyamano commented on #229
@matsumotory 僕の修正だけで良いならプルリクエストしますけど。

[2016-11-28 01:39] matsumotory commented on #229
一旦それで大丈夫です。随時対応していく形で。

[2016-11-28 06:55] #229 closed

[2016-11-30 03:46] yyamano opened #235 "SIGSEGV on 32bit linux"
I got SIGSEGV on 32bit linux when run ngx_mruby/test/t/ngx_mruby.rb

[code]

Here is the gdb backtrace:

[code]

[code]

I guess the root cause is same as #229. Will fix it as a lunch time hack:-)

[code]

[code]

[2016-11-30 03:56] yyamano commented on #189
@matsumotory Do you want to keep it open?

github issues is not a discussion forum. Also the reporter doesn't exist anymore.

[2016-11-30 03:59] matsumotory commented on #189
No, we should close like this issue. Thank you for your notice.

[2016-11-30 03:59] #189 closed

[2016-11-30 04:58] #235 closed

[2016-12-02 07:37] yyamano opened #238 "SIGSEGV when throwing my own exception"
I got SIGSEGV with the following config:

[code]

[code]

This is gdb output.

[code]

[code]

[2016-12-02 08:00] yyamano commented on #238
The following change fixes the problem, but can we expect that inspect method always returns null terminated string?

[code]

We might have the same problem in other places.

[code]

[2016-12-02 08:12] matsumotory commented on #238
Could you use %V syntax as ngx_str_t on ngx_log_error?

[2016-12-02 08:27] yyamano commented on #238
I think "%*s" works too.  See http://lxr.nginx.org/source/src/core/ngx_string.c#0091

Anyway, I'll take care of it, but not right now.

[2016-12-05 02:09] #238 closed

[2016-12-06 07:21] yyamano opened #242 "Proposal to remove mruby_test"
I'd like to remove mruby_test to avoid having 2 copies of mruby in the repo.
Here is my change.  https://github.com/yyamano/ngx_mruby/commit/7467c766930d191a08ad84da23d86479a248c81b

Pros:

* No more 2 copies ot mruby source
* Tracking mruby is easy.

Cons:

* mruby/build/test is always built even if you don't run test.
* Syncing build_config.rb and build_config_dynamic.rb with mruby/build_config.

[2016-12-06 12:46] matsumotory commented on #242
Thank you for your proposal. Previously I built it with a single mruby, but it is hard to debug and cost to build every time is high so I made it to build multiple mruby. So, I like to use multiple at present.

[2016-12-07 01:54] yyamano commented on #242
Would you tell me details about debugging problems you had with single mruby source?
I understand that building mruby/build/host and mruby/build/test at the same time is not acceptable.

I'd like to simplify ngx_mruby build system.

[2016-12-07 02:17] matsumotory commented on #242
Oh, sorry. I was misunderstanding. There is no problem if you put the mruby binaries into different directories by one build_config. After that, it is even better to be able to distinguish build targets with rake.

[2016-12-07 02:23] matsumotory commented on #242
So, I'd like to accept your proposal. Could you send the PR? I'll review it.

[2016-12-07 03:25] yyamano commented on #242
I rebased and sent a pull request. #243

[2016-12-07 08:05] #242 closed

[2016-12-09 10:56] yyamano opened #245 "Read freed memory"
valgrind reports invalid reads.

[code]

[code]

[2016-12-12 05:11] yyamano commented on #230
@matsumotory Could you close it? No feedback for a while.

[2016-12-12 06:43] matsumotory commented on #230
Yes! I will leave it to your judgment like this issue.

[2016-12-12 08:35] yyamano commented on #245
After looking at the code, I'm not so sure if we can avoid reading freed memory in ngx_mrb_run().

from https://github.com/matsumotory/ngx_mruby/blob/master/src/http/ngx_http_mruby_module.c#L820

[code]

from ngx_http.h

[code]

from ngx_http_request.c

[code]

[2016-12-13 03:03] matsumotory commented on #230
@yyamano We add you to collaborators. Please check e-mail and close this issue!

[2016-12-13 03:58] yyamano commented on #230
@matsumotory thx!

[2016-12-13 03:58] #230 closed

[2016-12-27 06:21] yyamano commented on #135
We need to change mruby/mrbgem build system to support such features. And rvm/ruby-install/ruby-build too. They are for binary installation like mruby command, not for embedding mruby into applications. It's a lot of work.

@kbrock @scalp42  Could you explain specific problems with current ngx_mruby build process?
Downloading mruby source many times? Rebuilding mruby every time you add a new gem?

[2017-03-06 09:32] ksss opened #268 "Random return 502"
I'm encounering strange behavior.

[code]

In almost every case, request success with this logs

[code]

But in very rare case, request failed with 502 and this logs

[code]

How should I handle in this case?
I want to send to the proxy app even failed case.

[2017-03-06 09:42] matsumotory commented on #268
Thank you for your report. Could you give me the code that can be reproduced with only ngx_mruby instead of unicorn?

[2017-03-07 04:14] ksss commented on #268
I tried to make a Dockerfile that can reproduce the problem.
But sorry, I couldn't reproduce on my local environment.

Strangely, This issue could only reproduce on my aws-ecs.

[code]
=> CDN(aws-CloudFront) =>  ELB => docker contener on EC2 => nginx process => unicorn process

OS: alpine
nginx: v1.11.10
ngx_mruby: v1.18.10

[2017-03-07 09:39] ksss commented on #268
@matsumotory I could represent return the `NGX_AGAIN`

https://gist.github.com/ksss/c743fa8d94d8702765c50064a914ed57

1. Applay tha patch `nginx.conf.patch`
1. Build docker
1. Run the container
1. Send slow request(see also `representer`)

But it couldn't represent segv.

[2017-03-14 04:57] matsumotory commented on #268
fixed via #269

[2017-03-14 04:57] #268 closed

[2017-03-14 07:32] matsumotory commented on #268
Peleased https://github.com/matsumotory/ngx_mruby/releases/tag/v1.19.0

[2017-04-07 09:08] yyamano commented on #135
No feedback for over three months. Please feel free to reopen it if necessary.

[2017-04-07 09:08] #135 closed

[2017-04-14 04:49] yyamano opened #282 "Segmentation fault"
I get seg fault with the following configuration and client code while writing code to reproduce another problem. The bug is not high priority to me for now.

[code]

[code]

Here is a gdb backtrace.

[code]

[2017-05-05 08:38] ryudoawaru opened #287 "Error when acquire ssl cert in auto_ssl"
I use the config as the example [here](https://github.com/matsumotory/ngx_mruby/pull/274/files) but found following error"

[code]

the line 8 is:

[code]

[2017-05-05 15:38] yyamano commented on #287
@ryudoawaru Which version of mruby-io do you use?
It must be fixed by https://github.com/iij/mruby-io/commit/728d313b2c238ac0f41a4aa7e4a88e6a8fee8079

[2017-05-08 04:31] ryudoawaru commented on #287
re-check everything and the error message changed:

[code]

in code:

[code]

[2017-05-08 04:41] ryudoawaru commented on #287
changed the log level to debug and re-run again

[code]

[2017-05-08 10:15] ryudoawaru commented on #287
I tried the same command in the log file and found error while executing ngx_mruby-hook.sh

[code]

[2017-05-08 10:19] matsumotory commented on #287
Could you show me the nginx.conf with mruby?

[2017-05-08 10:44] ryudoawaru commented on #287
[code]

[2017-05-08 11:06] matsumotory commented on #287
fmm, looks good to me. It seems that

[code]

 can't  run . Could you retry the code after cleaning up redis and dehydrated_out?

[2017-05-09 03:05] ryudoawaru commented on #287
@matsumotory

I tried to run the dehydrated command with HOOK_SECRET  manually without "unbound variable" error, but still can't finish whole process.

[code]

in Nginx error log:

[code]

The first problem is in my server, I can not see any log of the command result [here](https://github.com/matsumotory/ngx_mruby/pull/274/files#diff-dea4e6f0fdd1391f268c61c39bc04e3dR72) in auto_accept_terms method

[2017-05-13 04:52] yyamano commented on #287
@ryudoawaru What files do you have in /usr/local/nginx/conf/auto-ssl/certs/x.wild.5xruby.com?

[2017-05-13 07:50] yyamano commented on #287
If you try  https://github.com/yyamano/ngx_mruby/commit/6228e90141cecb8fdfd003ee49ec155dde1b7546 , you will get better logs.
I don't test it by myself. I don't have domain for the test.

[2017-05-17 08:02] jerry-tao opened #292 "Can't build it with docker"
I try to build it with Dockerfile below

[code]

But got the error:

[code]

Here is gcc -v output:

[code]

[2017-05-17 14:21] matsumotory commented on #292
Thank You for your report. I fixed via #293. Please check it.

[2017-05-18 04:29] #292 closed

[2017-05-29 02:24] minimum2scp opened #294 "Recent docker images on Docker Hub are not built"
Latest tag is built at 7 months ago.
https://hub.docker.com/r/matsumotory/ngx-mruby/

![image](https://cloud.githubusercontent.com/assets/162862/26534406/cd3aaed6-445e-11e7-88a3-7aec8a928a57.png)

[code]

GitHub repository name was changed at 2016-12-17 (#247), but
perhaps Docker Hub (automated build) settings were not changed.

[2017-06-06 09:50] yyamano opened #296 "Link error with --with-openssl-src"
test.sh --with-openssl-src=/path/to/openssl fails due to duplicate symbol. It tries to link libcrypto statically.

[code]

The latest travis build jobs have no problem because libcrypto is dynamically linked.
https://travis-ci.org/matsumotory/ngx_mruby/jobs/237827372

[code]

[2017-06-06 09:52] yyamano commented on #296
I don't like such inconsistency,  but I don't have opinion on which is the way to go.

[2017-11-01 22:10] shamil opened #320 "NOTICE logs printed when log level set to warn"
Hi,

I see that `mruby` module doesn't respect the `error_log` setting. In the `/etc/nginx/nginx.conf` I set log level like so: `error_log  /var/log/nginx/error.log warn;`, but I still see `notice` logs specifically from `mruby` module. See examples below. **What could be the reason?**

For example

[code]

Or:

[code]

[2017-11-06 02:10] matsumotory commented on #320
Thank you for your report.
This behavior seems to be a matter of setting nginx itself. The log, "ngx_mruby/1.20.1 (mruby/1.3.0) mechanism enabled " is server context logs. Please check it.

[2017-11-06 08:28] shamil commented on #320
That's what I thought too, but seem like it isn't. `[notice]` logs only from mruby are printed...

Here is my `nginx.conf`

[code]

And here is the output when I run `nginx -g 'daemon off;'`

[code]

[2017-11-06 09:12] matsumotory commented on #320
fmm, I can't reproduced this behavior.

[code]

- `vi build/nginx/conf/nginx.conf`

[code]

[code]

Please check it.

[2017-11-16 06:45] yyamano opened #321 "mruby_enable_read_request_body, mruby_set_code and mruby_content_handler_code don't work together"
I get a SIGSEGV with the following configuration.

[code]

[code]
Here is the client code. It is almost same as test/t/issue-268-test.rb.

[code]

[2017-11-22 13:00] matsumotory commented on #321
Thank you for you report. I'll investigate later.

[2017-12-20 06:25] yyamano commented on #320
@matsumotory I can reproduce it.

[code]
I can see the mechanism enabled message and other notice messages in build/nginx/logs/error.log:

[code]

[2017-12-20 08:13] yyamano commented on #320
Oops, the above configuration was wrong. I can reproduce it with warn level too.

[code]

[2018-01-06 13:29] chinajinhongyu opened #328 "How to get the current timestamp in mruby_stream_code?"
Hello
How to get the current timestamp in mruby_stream_code?

[2018-01-06 15:27] #328 closed

[2018-01-31 06:21] matsumotory opened #333 "Support SMTP/IMAP proxy"
We'll support SMTP/IMAP proxy using mruby.
I'll implement the features in Feb 2018.

[2018-02-08 08:58] yyamano opened #339 "Nginx::SSL limitations?"
Nginx::SSL#servername doesn't work in content handler.
Not sure if it's a bug or unexpected usage. Other SSL methods might have similar issue.

I get SIGSEGV without ssl handshake handler.  With the handler, Nginx::SSL#servername returns empty string.

[code]

[code]

[2018-02-08 13:30] matsumotory commented on #339
The specification of the SSL class is that it can not be used in hook of HTTP request processing. I would like to be able to handle errors by using flags related to phases at run time inside classes and methods.

[2018-02-08 13:37] matsumotory commented on #339
In the implementation of trusterd, the request structure has information on each phase, and each method itself determines whether it is a phase that can be executed.

ref: https://github.com/matsumotory/mruby-http2/blob/master/src/mrb_http2_request.h#L21

[2018-02-09 06:01] yyamano commented on #339
@matsumotory  I just want to make sure that Nginx::SSL works only in the handshake and the verify client handler.

[2018-02-09 06:34] matsumotory commented on #339
Nginx::SSL class only works in ssl_handshake_handle for now. I do not assume that methods of SSL class except accept_client and reject_client work in verify client handler.

[2018-02-14 10:37] yyamano commented on #339
Will take care of it. We need to add the limitations to doc too.

[2018-02-16 17:45] keizo042 opened #342 "Discussion for implementing SSL directives"
I'd like to discuss which ssl handers are needed in order to improve SSL experience of ngx_mruby.

There are already some work that handler in SSL.
first great work is `mruby_ssl_handshake_handler`.
I'm working `mruby_ssl_client_verify_handler` and `mruby_ssl_client_hello_handler`.

in OpenSSL-1.0.2g, server side APIs as below, result of
`$ cat ssl.h |grep  -e callback -e cb |grep SSL_CTX |grep se

[2018-02-19 12:10] keizo042 commented on #342
I'm sorry  `SSL_CTX_set_next_proto_select_cb` is client-side API so it will be  dropped.

It seems that almost hooks are useful and no problem to imlement.
Maybe, providing ephemeral key exchange hooks to non-expert of SSL/TLS is Unfavorable.

What do you think about implementing  directives using ephemeral key exchange hooks.

[2018-02-19 16:23] matsumotory commented on #342
looks good. If we can implement version compatibility of openssl properly we would like to release as much new functionality as possible

[2018-05-08 02:14] pyama86 opened #349 "v2-devにおいてインスタンス変数が利用できない"
[code]
上記のようなコードを書くと、下記の例外が発生する。

[code]

mrubyにおいて、Procオブジェクトにインスタンス変数を作成することは許容されていないので、発生するようです。

https://github.com/mruby/mruby/blob/master/src/variable.c#L280
https://github.com/mruby/mruby/blob/master/src/variable.c#L223

gdbの結果は下記のとおりです。

[code]

[2018-05-14 07:42] yyamano opened #357 "SIGSEGV on v2-dev"
I get segfault with 4555acb690f1331663c5c39ef3a06a3186b11a44 (the latest commit on v2-dev branch).

I don't have time to narrow down the problem and write simple code to reproduce it for now.
1b35861b27446ee6a465e98718785f462e2ccc43 works fine.

[code]

[2018-05-14 07:57] matsumotory commented on #357
@yyamano Thank you for your report. For now, could you tell us the nginx configuration and benchmark client settings?

[2018-05-14 08:30] yyamano commented on #357
The code works fine with the latest version of v1 too. I developed it with v1.

[2018-05-15 01:37] yyamano commented on #357
@pyama86 Thank you! It is fixed.

[2018-05-15 01:37] #357 closed

[2018-05-24 00:31] matsumotory opened #364 "Stack deep when run funcall instead of mrb_rux"
#363

We should investigate the root cause.

[2018-05-29 05:34] AslanKussein commented on #151
@takeswim ф

[2018-06-02 16:43] matsumotory commented on #364
これどのコミットで解決したかわからないので、次回からはそれらが追えるようにコミットログをもう少し後から見てもわかる文章でちゃんと書くようにしときましょうか。

[2018-06-02 16:47] matsumotory commented on #364
イメージとしては僕が書いているようなコミットの感じで、

https://github.com/matsumotory/ngx_mruby/pull/343/commits

どういう問題や処理が解決されたのかみたいな観点で、動詞からはじめる(僕は最初大文字)ように書いておくと、後でバグの見直しの振り返りでも追いやすくなるように思います。

[2018-06-03 02:41] pyama86 commented on #364
これ、解消してないというか起きなくなってます。

https://github.com/matsumotory/ngx_mruby/pull/363

[2018-06-03 02:42] pyama86 commented on #364
事象が起きてた原因は

https://github.com/matsumotory/ngx_mruby/pull/363/files#diff-bbdc89dae16aa5c53566f7ec784a35b3L40

この部分でmrb->excをみてないからexceptionが無視されておかしくなるみたいな挙動をしてたはず。

[2018-06-03 02:44] matsumotory commented on #364
excを見るようにしたコミットはどれかわかります？

[2018-06-03 02:47] pyama86 commented on #364
それが上のPRでそもそもmrb_funcallやめてます！

[2018-06-03 02:50] matsumotory commented on #364
excをみるかみないかと、mrb_runかmrb_funcallを使うかどうかは関係ないように思えますが、mrb_funcall使った場合だとどういう書き方になるか、根本原因はどう解決されるのかを知りたいという意図のissueですね。#363 はmrb_runにしたらひとまず治るよね、というprだったと記憶しています。

[2018-06-03 02:52] matsumotory commented on #364
で、ここの原因わかった！って口頭で細かく話してた記憶がある…

[2018-06-03 02:57] pyama86 commented on #364
はい！その原因はmrb_funcallの例外処理してないことだったのですが、そもそも実装が既にないということです！

[2018-06-03 03:02] matsumotory commented on #364
上記の実装でも、funcall後にwithout_stop関数でたあとで例外処理をちゃんと見ているように読めるので、それだと説明つかない気がしますがそういう意味ではないです？

ちとここはまた具体的に明らかになったら追記してcloseするとして、こういうソフトウェアのコミットは、コミット自体の価値も高まってくるのと、数行のコミットと数日の調査で難解な問題を解決みたいなのが多々あるので、面倒だとは思いますができるだけコミットログをしっかり書く感じでやっていきましょう。1行しっかり書くという意味ではそれほどコストも高くはないと思いますので。あれだったは日本語でも良いです！

[2018-06-03 03:16] matsumotory commented on #364
https://github.com/matsumotory/ngx_mruby/pull/363#pullrequestreview-125382292

ここにコメントが付いてたの転載。ありがとうございます。つまり、funcallを使った場合も先に例外処理をやっておけば良さそう。いずれmrb_run使っている方も非同期対応していく中でfuncallはいるので、その時にはその実装を忘れずやる。

[2018-06-03 03:16] #364 closed

[2018-06-08 04:16] yyamano opened #371 "test failed with nginx 1.15.0"
test.sh failed with nginx 1.15.0.

[code]

build/nginx/conf/nginx.conf

[code]

[2018-06-08 11:21] matsumotory commented on #371
fmm, I will investigate it later. Thanks!

[2018-06-08 15:28] matsumotory commented on #371
I may fix this issue via https://github.com/matsumotory/ngx_mruby/pull/373 . Please check it.

[2018-06-09 15:56] matsumotory opened #377 "BUG?: using Nginx::Utils.encode_parameters like the following script is sometimes missing call method for fiber_proc"
ref: 1b3a54da3bbdd7c9aeb5ff97bf94045a3ee345a4

[2018-06-09 15:57] matsumotory commented on #377
more information: https://github.com/matsumotory/ngx_mruby/pull/376#issuecomment-395978703

[2018-06-11 00:57] yyamano commented on #371
@matsumotory Thank you so much for the quick fix. It works fine to me.

[2018-06-11 06:12] matsumotory commented on #371
Thanks!

[2018-06-21 15:09] jpsikorra commented on #78
What's the current state? Any progress?

[2018-06-24 05:49] matsumotory commented on #78
more information for nonblocking architecture is here: https://speakerdeck.com/matsumoto_r/design-pattern-for-embedding-mruby-into-middleware

[2018-06-24 05:52] matsumotory commented on #80
ngx_mruby v2 has supported sub request!

[2018-06-24 05:52] #80 closed

[2018-06-24 05:52] matsumotory commented on #78
Thanks all!

[2018-06-24 05:52] #78 closed

[2018-07-06 01:56] yyamano opened #381 "Missing updating documentation for mruby and dependence/ngx_devel_kit"
The title says all.

We have update-mruby-subtree script for mruby, but it's not documented.

[2018-11-04 02:50] matsumotory opened #398 "test"
test

[2018-11-04 02:53] #398 closed

[2018-11-06 05:58] yyamano opened #400 "strange compiler options"
"-I" is added before some compiler options like "-g".

https://travis-ci.org/matsumotory/ngx_mruby/jobs/436490194#L5711-L5713

[code]

[2018-11-06 06:11] yyamano commented on #377
@matsumotory can you reproduce this with the latest version of ngx_mruby?
https://github.com/matsumotory/ngx_mruby/commit/8b73427caf46215d9909a02e338749d250ec1e7f works fine to me.

[2018-11-06 06:44] pyama86 commented on #377
:eyes

[2018-11-06 06:46] matsumotory commented on #377
Oh, lgtm. Thanks!

[2018-11-06 06:46] #377 closed

[2018-11-06 08:33] yyamano commented on #400
-DSOMETHING with -I doesn't work I expected as below. It means we can't pass -DSOMETHING via NGX_MRUBY_CFLAGS environment variable.

[code]
I have no idea if newer versions of gcc or other compilers behave the same way.

[2018-11-06 10:00] pyama86 commented on #349
リリースした。

[2018-11-06 10:00] #349 closed

[2018-11-07 00:30] matsumotory commented on #381
Yes, please create docs/DEVELOPMENT.md.

[2018-11-07 01:54] yyamano commented on #381
We have docs/DEVELOPMENT.md now. Anyone can write ngx_devel_kit updating procedure?

[2018-11-07 02:12] matsumotory commented on #381
Update via #402 . Thanks!

[2018-11-07 02:12] #381 closed

[2018-11-07 09:38] yyamano commented on #294
Looks it was already fixed. https://hub.docker.com/r/matsumotory/ngx_mruby/builds/

@webuilder240  If you are still have the problem, feel free to re-open this.

[2018-11-07 09:38] #294 closed

[2018-11-08 01:05] yyamano commented on #282
I can't reproduce the problem with the latest version of ngx_mruby.
See https://github.com/yyamano/ngx_mruby/tree/issue-282

[2018-11-08 01:05] #282 closed

[2018-11-08 01:09] matsumotory commented on #282
Thanks always!

[2018-11-12 02:07] yyamano commented on #225
Still doesn't work with the latest version of ngx_mruby. I just rebased the branch for test code at https://github.com/yyamano/ngx_mruby/tree/issue-200

[code]

[2018-11-28 11:12] yyamano opened #410 "Nginx::Request#authority doesn't return userinfo"
Nginx::Request#authority doesn't return userinfo.

[code]

[code]

It just returns HOST header field that contains only host and port.

[code]

https://tools.ietf.org/html/rfc7230#section-5.4

[code]

[2018-11-29 05:01] yyamano opened #411 "Nginx::Request#content_type doesn't return Content-Type of request"
Nginx::Request#content_type doesn't return Content-Type of request.

It looks Nginx::Request#content_type() and Nginx::Request#content_type=() are for HTTP response, not HTTP request. Very confusing name to me.

[code]

[code]

From src/http/ngx_http_mruby_request.c

[code]

[2018-11-29 05:32] yyamano commented on #410
I'm not so sure if authority is appropriate name for the method.
I can't find similar name in RACK, WSGI and  HttpServletRequest.

* https://www.rubydoc.info/github/rack/rack/master/file/SPEC
* https://www.python.org/dev/peps/pep-0333/
* https://docs.oracle.com/javaee/6/api/javax/servlet/http/HttpServletRequest.html
* https://docs.oracle.com/javaee/6/api/javax/servlet/ServletRequest.html

[2018-11-29 07:15] matsumotory commented on #411
Thank you for your opinion. Do you have ideas about names?

[2018-11-29 08:50] yyamano commented on #411
@matsumotory Can you give me some time to think about it?

I'm have been improving docs/class_and_method/README.md on https://github.com/yyamano/ngx_mruby/blob/doc-improvement/docs/class_and_method/README.md and playing with unfamiliar methods.
I'd like to get a clear picture before renaming.

[2018-11-29 08:51] matsumotory commented on #411
Yes! Thanks always.

[2018-12-07 01:36] yyamano commented on #339
I added the limitation to docs/class_and_method/README.md#nginxssl-class.

[2018-12-07 01:38] matsumotory commented on #339
lgtm!

[2018-12-19 07:00] gaukhush opened #416 "checking for GD library in /opt/local/ ... not found ( Application failed )"
Hi Matsumotory

When using ngx_mruby to build application it fails as below.

-------------------------------------------------------------------
checking for GD library in /usr/local/ ... not found
checking for GD library in /usr/pkg/ ... not found
checking for GD library in /opt/local/ ... not found

./configure: error: the HTTP image filter module requires the GD library.
You can either do not

[2018-12-19 11:14] yyamano commented on #416
@gaukhush I just want to make sure you are trying to build nginx with ngx_mruby and passenger modules?
Could you tell us what operations you have done?

[2018-12-19 18:22] gaukhush commented on #416
@yyamano thanks for quick reply, last fork 1 month worked to build nignx via ngx_mruby with passenger but when tried yesterday multiple times via ngx_mruby it fails. We call ngx_mruby from repo saturn which is mentioned below and uses passenger version 5.3.3.

`#!/bin/bash -e

if [ `whoami` != 'root' ]; then
  echo "This script should be run as root"
  exit
fi

SOURCE="${BASH_SOURCE[0]}"
SOURCE_DI

[2018-12-20 06:59] yyamano commented on #416
@gaukhush I can't reproduce it.
I don't think it's a ngx_mruby issue. It's a nginx configuration or your build env issue.

As the message suggests, you need to install the GD library if you want to use the module.

[2018-12-20 15:06] gaukhush commented on #416
@yyamano agree with you and managed to install dependencies like(libgd, libgeoip, libatomic_ops) finally i below error. Earlier this was not coming, i think passenger repo has some changes done to include these dependencies. Can you check below error and give a thought ?

-Wl,-E -ldl -lpthread -lcrypt /usr/local/shopmatic/passenger/buildout/common/libpassenger_common/LoggingKit.o /usr/local/shopma

[2018-12-21 02:42] yyamano commented on #416
@gaukhush I've never used passenger. I guess you need to install libperl.so or add -L/path/to/libperl/dir.

[2018-12-21 05:57] gaukhush commented on #416
ok let me check on this.

[2019-01-09 01:41] yyamano commented on #416
@gaukhush Did you resolve the issue?

[2019-01-14 04:40] gaukhush commented on #416
@yyamano thanks for waiting and i got some time lastweek and i was able to resolved by installing multiple libraries as mentioned.

cd /usr/local
sudo wget https://github.com/libgd/libgd/releases/download/gd-2.2.5/libgd-2.2.5.tar.gz
sudo tar -xvof libgd-2.2.5.tar.gz
sudo mv libgd-2.2.5.tar.gz /tmp
cd libgd-2.2.5
sudo ./configure
sudo make
sudo make install

sudo wget http://www.maxmind.com/app/c
s

[2019-01-15 01:53] yyamano commented on #416
@gaukhush That's great to hear!

[2019-01-15 01:53] #416 closed

[2019-08-25 21:24] ajsharp opened #428 "Periodic redis errors"
I'm using ngx_mruby to do dynamic lets encrypt ssl resolution. Currently building from source against nginx 1.16.0 and ngx_mruby 2.1.5.

Here's the relevant parts of the configuration:

[code]

After roughly 45 minutes of running ngx_mruby, i start to see these redis connection failures:

[code]

If I reload nginx, the errors stop. If I let the server run for about 45 minutes, they will inevitably

[2019-08-26 03:18] matsumotory commented on #428
Thank you for you report! I'll investigate the issue.

[2019-09-06 12:28] ynishi opened #431 "About upgrade mruby to 2.0.1"
I've upgraded mruby and made pr #430 .

The mainly reason is that the first version of mruby 2.0.0 on 11 Dec is not support `#to_int` method, and recover at 17 Dec by https://github.com/mruby/mruby/commit/e690314525d3ebfa23eda9f2cacfff37bd53482a

So the version merged at #415 can't use `#to_int` and fail to call `SecureRandom#uuid` because it always uses `#to_int`.
https://github.com/monochromegan

[2019-09-06 12:37] matsumotory commented on #431
I agree with you and merged that PR. Thanks!

[2019-09-06 12:37] #431 closed

[2019-10-14 16:16] ajsharp commented on #428
@matsumotory Any ideas on this?

[2019-10-28 05:21] Zogoo opened #435 "Discussion about test with normal ruby"
I just start to look at the source code.
And I thought why test can't be written by normal Ruby with Ruby libraries.
For example:
 1. SSL request test cases can easily done with "net/http".

[2019-10-30 04:31] Zogoo commented on #435
@matsumotory thanks for your reply.

Does it mean you guys are creating some new mruby gems for your tests?

Actually, Reason of asking this, if normal ruby test was allowed I would like work on following pull request's test.

https://github.com/matsumotory/ngx_mruby/pull/338

Because, I need to use this feature and seems like only test task left on this pull request.

So, I was thinking that I wi

[2019-10-30 18:47] matsumotory commented on #435
The test of that Pull-Request can be solved by openssl command, I guess. So you can write the mruby code included openssl commands.

[2019-10-31 01:47] yyamano commented on #435
I think the point is how much easier, not can or can  not.

I wrote cruby test code for my ngx_mruby projects. I run both my own cruby test and mruby test from ngx_mruby on travis.

[2019-10-31 03:26] Zogoo commented on #435
I didn't know you already did it. I will take a look your project then.

[2019-10-31 03:49] matsumotory commented on #435
Ok, even if we can implement test easily by CRuby, I think we should implement the test by mruby because of contributions for mruby.

[2019-10-31 04:46] yyamano commented on #435
I'm sorry I didn't make it clear enough. They are private projects. I can't make them public.

[2019-10-31 04:48] yyamano commented on #435
@matsumotory Fair enough.

[2019-10-31 04:51] Zogoo commented on #435
@matsumotory I got your idea. Thanks for your reply.

[2019-10-31 04:54] Zogoo commented on #435
@yyamano I was just checking your public github repo. If you guys decide to make your project public and if you drop some message in here that will be a great help for me.

[2019-10-31 05:45] matsumotory commented on #435
@yyamano Thank you always for your understanding!

@Zogoo So, can I close this issue? Or do you have any other questions or comments?

[2019-11-04 13:55] Zogoo commented on #435
I don't have any questions. Let me close this issue.

[2019-11-04 13:55] #435 closed

[2019-11-04 14:06] matsumotory commented on #435
OK! Thank you for your suggestions!

[2019-11-20 03:41] sawanoboly opened #438 "Build fails with Nginx 1.17.6"
https://travis-ci.org/matsumotory/ngx_mruby/builds/614339720

It is a report for the time being.

[code]

Note:

- [https://github.com/nginx/nginx/compare/release-1.17.5..release-1.17.6](https://github.com/nginx/nginx/compare/release-1.17.5..release-1.17.6)

[2019-11-20 08:11] #438 closed

[2019-11-29 10:39] kunichi3 opened #440 "Failure to receive divided http requests."
I am processing data with the following simple code.

In iOS, HTTP requests are sent divided into header and body.
Therefore, receiving HTTP requests from iOS frequently fails.
Is there any solution for this problem?

[2019-12-01 05:07] matsumotory commented on #440
Thank you for your report. Cloud you paste your api .rb code here?

[2019-12-02 04:33] kunio-fujiwara commented on #440
Thank you for your response.

api.rb code is simple.

If the header and body are separated, this response will not return and will be deadlocked.

[2019-12-02 05:32] kunichi3 commented on #440
Thank you for your response.
api.rb code is simple.

If the header and body are separated, this response will not return and will be deadlocked.

[2019-12-02 11:33] matsumotory commented on #440
mruby_enable_read_request_body is a configuration to store all request bodies synchronously in mruby variables.  So basically you shouldn't use it if you don't read the request body. We should have implemented error handling and raised errors like that.

[2019-12-03 00:56] kunichi3 commented on #440
The above example shows the problem with the simplest configuration.
Of course, our implementation deals with body data.
The following code gives the same result.
[code]

[2019-12-03 01:37] matsumotory commented on #440
Thank you for your details. So does it work if you read the request body on access_handler then pass the content to content_handler and create a response?

[2019-12-03 04:06] kunichi3 commented on #440
We didn't know how to combine access_handler and content_handler. We will check with a combination of access_handler and content_handler.
We'll inform you the result later. Thank you for your advice.

[2019-12-03 04:17] matsumotory commented on #440
ref: https://github.com/matsumotory/ngx_mruby/tree/master/docs/class_and_method#nginxrequestget_body---string

[2019-12-03 11:27] kunichi3 commented on #440
The problem has been solved.
Thank you for your polite response.
m(_ _)m

[2019-12-03 11:27] #440 closed

[2019-12-03 11:27] matsumotory commented on #440
You are welcome!

[2019-12-13 20:22] matsumotory commented on #428
Sorry for my late response. I think Redis client timed out. So Could you implement reconnecting Redis when catching timeout error?

[2019-12-13 21:18] ajsharp commented on #428
Yes, I can try. I can try wrapping the `mruby_ssl_handshake_handler_code` in a begin/rescue. I'm not sure how/why a reconnect would do anything there, but I'll try and report back.

[2019-12-13 21:22] matsumotory commented on #428
Yes, it's strange behavior. Maybe OS or middleware layer settings disconnects the TCP connection I guess.

[2019-12-27 20:58] ajsharp commented on #428
@matsumotory Is there a reconnect interface or method on the mruby-redis client?

[2020-01-20 11:07] Zogoo opened #448 "Symbol not found: _mrb_sym2str"
After I update my mruby and nginx with the latest master (v2.2.0) start to get following failure?

[code]
Anything changed for build process?

[2020-01-20 11:14] matsumotory commented on #448
Thank you for your report. I think this issue is a mruby specification. Please issue to mruby repository.

[2020-01-20 11:32] Zogoo commented on #448
I have created issue for a MRuby repo with following url
https://github.com/mruby/mruby/issues/4934
, But I'm still not sure why Travis test environment looks like works fine not my local. Maybe some OSX or Clang issue?

[2020-01-21 02:55] Zogoo commented on #448
@matsumotory I could solve this issue. When I delete mruby build folder (old version) the it's building correctly.
That's mean `.minirake clean` not working for version update. What do you think if I add some shell in `build.sh` to delete mruby build folder if version different than current one.

[2020-01-21 02:57] matsumotory commented on #448
That's sound good. Could you send the PR?

[2020-02-03 09:40] Zogoo commented on #448
Seems like with new version might need specify build_config as like follow
`rake clean MRUBY_CONFIG=NGX_MRUBY_ROOT/build_config.rb`
based on [answer of mruby issue](https://github.com/mruby/mruby/issues/4934#issuecomment-576566706)

[2020-02-12 07:58] afunction commented on #428
@ajsharp @matsumotory
I have same issue, is this problem solve? thank you all

[2020-02-14 17:34] ajsharp commented on #428
@matsumotory We're using the same redis server (AWS elasticache) in our main app from the same host machine without connection issues, so the problem is almost definitely in this library in some way. It's unclear whether the problem is the redis client this project uses or some lower level issue with the nginx extension. However, it's not an OS/middleware issue b/c we're maintaining persistent con

[2020-02-17 04:25] yyamano commented on #428
@ajsharp @afunction I'm wondering you guys can move Redis.new into mruby_ssl_handshake_handler_code? I don't think redis[], mrb_redis_get() in C, supports reconnect.

It looks like _redisContextConnectTcp() in hredis supports it, but it is only called via redisConnectWithTimeout() from the following methods.

* initialize(): mrb_redis_connect() in C
* connect_set_raw(): mrb_redis_connect_set_raw()

[2020-02-17 05:25] matsumotory commented on #428
@yyamano Thank you for your suggestion.

@ajsharp @afunction Could you try to use `Redis#enable_keepalive` in [doc](https://github.com/matsumotory/mruby-redis/blob/master/test/redis.rb#L26-L36) ?

[2020-02-17 05:29] matsumotory commented on #428
Or you can implement error handling like [this example](https://github.com/yukirii/mruby-redis-cluster/blob/master/mrblib/mrb_rediscluster.rb#L117-L136).

[2020-02-27 08:32] kenhys opened #451 "Failed to link with multiple definition of X"
# Problem

ngx_mruby fails to link with multiple definition of X errors when
-fno-common is enabled.

Since gcc version 10, -fno-common is enabled by default, so multiple definition of X error occurs.
It seems that it is  well known issue [1] on Fedora 32, for example.

[1] https://src.fedoraproject.org/rpms/redhat-rpm-config/blob/master/f/buildflags.md#legacy-fcommon

It needs to eliminate multip

[2020-02-28 18:00] yyamano commented on #448
@Zogoo I believe https://github.com/matsumotory/ngx_mruby/pull/453/commits/db45048d8ef4b527e60c56858a8589be4af59b0a fixes the issue.

[2020-02-29 12:06] #448 closed

[2020-02-29 12:08] matsumotory commented on #451
Thank you for your report. @yyamano fixed via #452

[2020-02-29 12:08] #451 closed

[2020-03-03 03:10] ajsharp commented on #428
@matsumotory I tried using `#enable_keepalive` and it didn't help -- still getting the errors. I will try the begin rescue you linked to and report back.

[2020-03-03 17:42] ajsharp commented on #428
I've put begin/rescue blocks in both the `mruby_ssl_handshake_handler_code` block and the `mruby_init_worker_code` block. Errors are only being generated from the handshake handler block. Here's my code:

[code]

I'm seeing lots of `Redis::ConnectionError` exceptions in the nginx error logs. Unfortunately, all the reply says is: "could not read reply"

[2020-03-03 17:50] ajsharp commented on #428
@matsumotory Is it possible to add more context here to the error message?

https://github.com/matsumotory/mruby-redis/blob/18b3d06cf238b26eb921e019fff1a9aa9ad22e95/src/mrb_redis.c#L1462

[2020-03-04 06:24] matsumotory commented on #428
@ajsharp Thank you for your details. I have implemented your suggestion on https://github.com/matsumotory/mruby-redis/pull/102 . Could you try this?

[2020-03-05 03:17] yyamano commented on #400
The problem comes from Makefile.in. We add CFLAGS to CORE_INCS.

[code]

Here is an example of generated mrbgems_config.

[code]

[2020-03-05 04:06] yyamano commented on #296
Somehow it was fixed. I can't reproduce it anymore.

[2020-03-05 04:06] #296 closed

[2020-03-05 04:16] #400 closed

[2020-03-30 19:23] shinden opened #460 "Not support ACME V2 in auto ssl"
The version of dehydrated bundled with ”auto ssl” is not ACME V2 compliant.
"ACME V1" supported by bundle version no longer accepts new account registrations.

Do you have any plans to change to "auto ssl" for "ACME V2" in this repository?

[2020-06-13 04:48] polamjag opened #465 "Building release v2.2.1 from tarball always fails"
TL;DR: Building ngx_mruby v2.2.1 from release tarball fails because `build_mruby` target in `Makefile.in` tries to look at `.git` and `.mruby-version` but both of them are not included in the tarball.

https://github.com/matsumotory/ngx_mruby/blob/7a3198c992caccde70af24485d487e39d6314423/Makefile.in#L75-L86

This is minimal Dockerfile to reproduce this problem:

[code]

This is the output I can ge

[2020-06-13 05:10] matsumotory commented on #465
Thank you for your report. I'll investigate it later. I also think `mruby/` doesn't have `/git` by default because `mruby/` was created by git subtree. We will fix this bug.

[2020-06-13 05:52] yyamano commented on #465
I don't have enough time for testing it, but the following change should fix the issue.

[code]

[2020-06-15 00:47] #465 closed

[2020-06-16 10:14] polamjag commented on #465
Thanks for fixing! 👍👍👍

[2020-07-31 10:38] Zogoo opened #469 "Build error for master branch"
After I updated my code with the latest update (openssl 1.1.1f and nginx 19.0.1).
I cannot build my project. Does somebody know what is the reason?
OS: OSX Mojae 10.14.6
Compiler: GCC and CLANG

Here is the error message I have got.
[code]

[2020-08-11 06:30] yyamano commented on #469
@Zogoo Could you try to build with LDFLAGS=-v as below?  You can see options passed to the linker.

[code]

[2020-08-12 10:34] yyamano commented on #460
@pyama86 @matsumotory Do you guys have any plans? I don't use auto-ssl myself.

[2020-08-12 10:36] yyamano commented on #428
@ajsharp Do you still have the problem with the newer version of mruby-redis ?

[2020-08-13 02:02] ajsharp commented on #428
@yyamano I will try an upgrade and let you know. Thanks for checking in on this.

[2020-08-13 02:04] ajsharp commented on #428
@yyamano Is the latest version of mruby-redis installed with the latest version of this library?

[2020-08-13 02:33] yyamano commented on #428
@ajsharp If you rebuild ngx_mruby, the latest version of mruby-redis including the change is installed.
You can check build_config.rb.lock to make sure if the latest version is installed. Mine is:

[code]

[2020-08-16 06:30] yano3 opened #471 "Headers_in and Headers_out returns wrong value in some case"
When there are multiple headers where one name contains the other (e.g. `X-HOGE` and `X-HOGE-FUGA`), `Headers_in`, `Headers_out` returns wrong value.

## Reproduce

[code]

[code]

In the above example, `Nginx.echo hin["X-HOGE"]` is expected to return only `hoge`.

[2020-08-17 07:39] yano3 opened #473 "Pass nil to Nginx::Headers_in[]= causes segmentaion fault"
Pass `nil` to `Nginx::Headers_in[]=` causes segmentaion fault.

## Reproduce

[code]

[code]

The following error is output to `error.log`.

[code]

This also happen with `Nginx::Headers_out[]=` too.

[2020-08-17 09:28] yyamano commented on #473
@yano3 Thank you for the report. What is the expected behavior? Is throwing an exception fine?

[2020-08-17 11:44] yano3 commented on #473
In my use case, there is no problem with the behavior of throwing an exception. I only expect to avoid segmentation fault.

IMO, following behavior is good.

- If specified header exists, delete it.
- If specified header does not exist, do nothing.

For example, it's natural in the following case.

[code]

[2020-08-18 03:24] #471 closed

[2020-08-18 13:08] yyamano commented on #473
Sounds good. I just sent a pull request #475

[2020-08-18 13:46] #473 closed

[2020-08-18 13:49] yano3 commented on #473
Thank you!

[2020-08-18 13:49] matsumotory commented on #473
@yano3 @yyamano Thank you for your proposal!

[2020-11-17 16:11] Zogoo opened #481 "Dynamic library build failing"
OS: Ubuntu 20.04
OpenSSL version: 1.1.1f
C builder: gcc

I could build Nginx and install Nginx with `build.sh` command.
But when I tried to build dynamic module for Nginx it fails with following command.

Command:
`env BUILD_DYNAMIC_MODULE=TRUE sh ./build.sh`
`env BUILD_DYNAMIC_MODULE=TRUE LDFLAGS=-v sh ./build.sh`

Output:
[code]

[2020-11-18 13:30] Zogoo commented on #481
I just find out that I have to clean mruby and previous build folders. After I clean up previous build with following command I could successfully build, dynamic library. So, let me close this issue
[code]

[2020-11-18 13:30] #481 closed

[2020-11-30 02:23] chinajinhongyu opened #483 "How to limit bandwidth or rate dynamically?"
hi, I use the "ngx_mruby stream module";
now I want to limit the client's data transmission speed,

for example:

`if Nginx::Stream::Connection.remote_ip == "127.0.0.1"
  # something access control
  # **I want to limit the rate here, each IP has a different speed limit**
end`

Does it have this feature now?

thanks.

[2020-12-03 12:43] gencer opened #484 "Can't return content with status code other than 200"
When I return a status code other than 200, Nginx intercepts the request and show static nginx error file instead of my custom content generated in Ruby.

For example;

## nginx.conf:

[code]

## test.rb:
[code]

If I give `200` as a `status` then `{success: false}` shown on browser.

Isn't ngx_mruby capable of returning custom status codes with content?

P.S.: I also tried `Nginx.return` and `Ngi

[2021-02-04 05:29] matsumotory commented on #483
@chinajinhongyu Sorry for my late response... ngx_mruby doesn't have the bandwidth feature but can work with upstream directives and other directives. You may be able to use ngx_mruby in conjunction with existing bandwidth limiting modules.

[2022-07-12 07:32] yano3 opened #495 "Build error with nginx 1.23.0"
Build with nginx 1.23.0 occurs error like below.

[code]

## Step to reproduce

- Edit `NGINX_SRC_MINOR` in `nginx_version` file to `23`
- Execute `docker build -t local/ngx_mruby . --no-cache` on root of this repository.

[2022-07-14 05:09] yyamano commented on #495
Looks like a similar problem to https://trac.nginx.org/nginx/ticket/2312

@yano3 Could you add the following files to src/http/ngx_http_mruby_connection.h and try to build again?

[code]

[2022-07-14 05:21] yyamano commented on #484
If my memory serves me right, it's a limitation (and specification) of nginx, not nginx_mruby.

You might want to use an error_page directive with a named location.
See http://nginx.org/en/docs/http/ngx_http_core_module.html#error_page for more details.

[2022-07-15 00:00] yyamano commented on #495
Thank you for trying it out!

We need to fix our include files to follow nginx's way. http://nginx.org/en/docs/dev/development_guide.html#include_files

[2022-07-15 01:51] yyamano commented on #495
https://github.com/matsumotory/ngx_mruby/pull/496 will fix the problem.

[2022-07-19 13:25] #495 closed

[2022-09-06 06:07] yano3 opened #499 "Do you have plans to release the next version?"
Since ngx_mruby v2.2.4 cannot be built with nginx 1.23.0 or higher, we need a new version number that includes the fixes in https://github.com/matsumotory/ngx_mruby/pull/496, I think.

[2022-09-08 06:10] matsumotory commented on #499
I would like to use macros to branch the build according to the nginx version.

[2022-09-08 06:13] matsumotory commented on #499
Oh, I took the meaning wrong. We will release the next version soon.

[2022-09-08 06:35] matsumotory commented on #499
Released now. Thanks to @yano3 ! https://github.com/matsumotory/ngx_mruby/releases/tag/v2.2.5

[2022-09-08 06:35] #499 closed

[2022-09-08 06:38] yano3 commented on #499
Thank you!!

[2022-10-01 05:23] travisbell opened #500 "Update to latest mruby (v3.x)?"
Hey @matsumotory! Thanks for all the work you have done with `ngx_mruby`. I've spent years in the OpenResty world writing Lua and I'll be honest, I didn't even know `ngx_mruby` was a thing until recently. What a treat it is to be able to write Ruby instead. Within a few hours I had re-written some 25 lines of Lua down to a nice 8 lines of succinct Ruby. How lovely. 😍

Quick question, is there a sp

[2022-10-01 06:26] matsumotory commented on #500
Hi, @travisbell

I am very glad to hear you say that, the reason I haven't upgraded my mruby version is simply because I don't have the time. I would be happy if someone could do it.

/cc @yyamano @sawanoboly

[2022-10-04 01:41] travisbell commented on #500
Got it, makes sense. I know what it's like trying to find the time. Thanks again.